<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Remove all inherited global package sources -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Key value must match the key from packageSources -->
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
